header{
 background-color:#BBBBBB;
  padding: 20px 0;
}

.caixa{
  width: 940px;
  position:relative;
  margin:0 auto;
}

nav{
 postion:absolut;
  top: 110;
right:0;
}

nav li{
  display: inline;
  margin-left: 15px;
}

nav a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

nav a:hover{
  color: #C78C19;
  text-decoration: underline;
}

#banner{
  width: 100%;
}

.principal{
  background-color: #CCCCCC;
  padding: 30px;
}

.titulo-principal{
  padding-left: 20px;
 text-align: center; 
  
}

.texto-centralizado{
  text-align: center;
}

p{
  text-align: center;
}

em strong{
  color: red;
}

#missao{
  font-size: 28px;
}

.beneficios{
  padding: 20px;
  background-color: #FFFFFF;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item{
  font-style: italic;
}

.imagem-beneficios{
  width: 50%;
}