#banner{
   width: 100%
}

.principal{
  background-color: #CCCCCC;
  padding color: 30 px;
}

.titulo principal{
  padding-left: 30px;
}

.texto-centralizado




em strong{
 color: red;
}


.item{
  font-style;
}



.beneficios{
  padding: 20px;
  background-color:#ffffff;
}

ul{
display: inline-block;
vertical-align: top;
}