#banner{
   width: 100%
}

.principal{
  background-color: #CCCCCC;
  padding color: 30 px;
}

.titulo principal{
  padding-left: 30px;
}

.texto-centralizado











ul{
display: inline-block;
vertical-align: top;
}